
.menus {
  width: 210px;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menus > ul > li {
  display: block;
  width: 100%;
  text-align: center;
}
.menus > ul > li a.active {
  background: #abcdef;
}

.menus > ul > li a {
  display: block;
  text-decoration: none;
  color: #000;
}

.menus > ul > li a:hover {
  background-color: #abcdef;
  color: #fff;
}
